%h1 Students
- if @students_with_pagination.count

  = paginate @students_with_pagination

  %table.table.table-striped.table-bordered.table-hover.table-condensed
    %thead
      %tr
        %th ID
        %th Name
        %th Email
        %th{colspan: 4} Address
    %tbody
      - @students_with_pagination.each do |student|
        %tr
          %td= student[:id]
          %td= student[:name]
          %td= student[:email]
          %td= student[:address][:street_number]
          %td= student[:address][:city]
          %td= student[:address][:zip_code]
          %td= student[:address][:country]
