!!!
%html{lang: :en}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: 'description', content: 'Free API with fake data that you can use with your own Web applications. It returns data in JSON and XML. Also, it has HTML tables with pagination.'}
    %title FakeData API - Tech Career Booster
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render partial: 'layouts/navbar'

    .container

      = render partial: 'layouts/flash'

      = yield

      %footer
        = link_to 'Courtesy of Tech Career Booster', 'https://www.techcareerbooster.com'
